.classpath
.DS_Store
.metadata
.vscode
.recommenders
.idea
.ipynb_checkpoints
.settings
.config.toml
*.iml
*.class
*.conf
*.csv
*.egg-info
*.jar
*.jpg
*.json
*.log
*.pyc
*.tar
*.tar.gz
*.tgz
*.txt
*.zip
external_jars
bin/
build/
cookie
dist/
**/logs
metastore_db/
node_modules/
out/artifacts
package-lock.json
target/
project/
venv/
scratch.py
